.vertical-white {
  height: 100vh;
  background-color: white;
}

.horizontal-white {
  width: 100vw;
  background-color: white;
  position: absolute;
  top: 30%;
}

#panel {
  width: 210px;
  height: 30px;
  position: absolute;
  opacity: 0.7;
  top: 150px;
  left: 100px;
}
#overboard {
  width: 30px;
  height: 30px;
  background-color: red;
  position: absolute;
  opacity: 0.5;
  top: 150px;
  left: 100px;
  overflow:hidden;
  -webkit-transition:all 1.0s ease-in-out;
  -moz-transition:all 1.0s ease-in-out;
  -o-transition:all 1.0s ease-in-out;
  transition:all 1.0s ease-in-out;
}
.flex-container-row {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    //line-height:30px;
}

.flex-container-column {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
    flex-direction: column;
}

.flex-item {
    background: red;
    text-align: center;
    font-size: 130%;
    flex: 1 0 0px;
    min-width: 1.5em;
}
.flex-item:before {
    content: "";
    display: block;
    padding-top: 100%;
    float: left;
}
