.vertical-white {
  height: 100vh;
  background-color: white;
}

.horizontal-white {
  width: 100vw;
  background-color: white;
  position: absolute;
  top: 30%;
}

#panel {
  width: 210px;
  height: 30px;
  background-color: red;
  position: absolute;
  top: 30px;
  left: 100px;
}

#anchor {
  width: 30px;
  height: 30px;
  background-color: orange;
  position: absolute;
  opacity: 0.5;
  top: 30px;
  left: 100px;
}

#overboard {
  width: 30px;
}

